@using global::Blog.ViewModels;
@model List<BlogModal>

<!-- Page Header-->
<style>
    .ck-editor__editable[role="textbox"] {
        /* editing area */
        min-height: 320px;
        border: none;
        box-shadow: none;
    }

        .ck-editor__editable[role="textbox"]:focus {
            /* editing area */
            box-shadow: none;
        }

    .ck.ck-editor {
        /* editing area */
        border: none;
        box-shadow: none;
    }

    .item {
        display: inline-block;
    }

    .ck-toolbar {
        border: none;
    }
</style>
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg'); height:100px">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="modal fade bd-example-modal-lg" id="examplemodal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-3">
                @Html.Partial("message")
                <form id="postForm">
                    <div class="form-group" style="white-space:nowrap">
                        <input id="file" name="file" type="file" style="display:none" accept="image/*" />
                        <button id="openFileButton" type="button" class="btn btn-outline-dark btn-sm mb-3 item">Add a cover image</button>
                        <button id="change" type="button" class="btn btn-outline-secondary btn-sm mb-3 item" style="display:none;">Change</button>
                        <button id="delete" type="button" class="btn btn-outline-danger btn-sm mb-3 item" style="display:none;">Delete</button>
                        <img id="selectedImage" class="item" style="display:none;  height:150px; width:120px;" src="" alt="Selected Image">
                    </div>
                    <div class="form-group">
                        <input id="Title" class="form-control shadow-none post-title" placeholder="New post title here..." style="border:none; font-size:2.25rem; font-weight:bold" required />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="Content"></textarea>
                    </div>
                    <button id="submitBtn" class="btn btn-dark">Post</button>
                </form>
            </div>
            <div class="modal-footer border-0">
            </div>
        </div>
    </div>
</div>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            @{
                foreach (var item in Model)
                {
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="/blog/detail/@item.Id">
                            <h2 class="post-title">@item.Title</h2>
                            @if (@item.Content.Length < 30)
                            {
                                <h3 class="post-subtitle">@Html.Raw(@item.Content)</h3>
                            }
                            else
                            {
                                <h3 class="post-subtitle">@item.Content.Substring(0,31)</h3>
                            }
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">@item.AuthorName</a>
                            on @item.PublicationDate.ToString("m");
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                }
            }


            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>


</div>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        //window.onload=function(){
        //    if (typeof ClassicEditor !== 'undefined') {
        //        var editorData;
        //        ClassicEditor
        //            .create(document.querySelector('#Content'), {
        //                toolbar: {
        //                    items: [
        //                        'heading',
        //                        '|',
        //                        'bold',
        //                        'italic'
        //                    ],
        //                    shouldNotGroupWhenFull: true
        //                }
        //            }).then(editor => {
        //                editorData = editor;
        //            })
        //            .catch(error => {
        //            });
        //    }
        //}
        var editor = ClassicEditor
            .create(document.querySelector('#Content'))
            .catch(error => {
                console.error(error);
            });

        const fileInput = document.getElementById('file');
        const openFileButton = document.getElementById('openFileButton');
        const selectedImage = document.getElementById('selectedImage');
        const changeButton = document.getElementById('change');
        const deleteButton = document.getElementById('delete');
        const reader = new FileReader();
        openFileButton.addEventListener('click', () => {
            fileInput.click();
        });

        fileInput.addEventListener('change', (e) => {
            const file = e.target.files[0];

            if (file) {
                reader.onload = (event) => {
                    selectedImage.src = event.target.result;
                    selectedImage.style.display = 'block';
                    openFileButton.style.display = 'none';
                    changeButton.style.display = 'inline-block';
                    deleteButton.style.display = 'inline-block';
                };

                reader.readAsDataURL(file);
            } else {
                selectedImage.src = '';
            }
        });
        changeButton.addEventListener('click', () => {
            fileInput.click();
        });

        deleteButton.addEventListener('click', () => {
            selectedImage.src = '';
            fileInput.value = '';
            selectedImage.style.display = 'none';
            openFileButton.style.display = 'block';
            changeButton.style.display = 'none';
            deleteButton.style.display = 'none';
        });

        function submitBlogPost() {
            var data = {
                Title: $('#Title').val(),
                Content: $('#Content').val(),
                Image: '',
                PublicationDate: "2023-11-07 14:35:25.697",
                AuthorId: 0
            };

            var formData = new FormData();

            formData.append("blogPostDto", JSON.stringify(data));
            formData.append("file", $("#file")[0].files[0]);

            $.ajax({
                url: "/blog/create",
                type: "POST",
                processData: false,  // Don't process the data
                contentType: false,  // Don't set content type
                data: formData,
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                    } else {
                        alert("Error: " + response.message);
                    }
                },
                error: function () {
                    alert("Error: An error occurred while making the request.");
                }
            });
        }

        $(document).ready(function () {
            $("#submitBtn").click(function (e) {
                e.preventDefault();
                //submitBlogPost();
                console.log($("#Content").val());
            });
        });

    </script>
}
