@using System.Text.RegularExpressions;
@using System.Net;
@using global::Blog.ViewModels;
@model List<BlogModal>

<!-- Page Header-->
<style>
    .ck-editor__editable[role="textbox"] {
        /* editing area */
        min-height: 320px;
        border: none;
        box-shadow: none;
    }

        .ck-editor__editable[role="textbox"]:focus {
            /* editing area */
            box-shadow: none;
        }

    .ck.ck-editor {
        /* editing area */
        border: none;
        box-shadow: none;
    }

    .item {
        display: inline-block;
    }

    .ck-toolbar {
        border: none;
    }
</style>
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg'); height:100px">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            @{
                foreach (var item in Model)
                {
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="/blog/detail/@item.Id">
                            <h2 class="post-title">@item.Title</h2>
                            @if (@item.Content.Length < 30)
                            {
                                <h3 class="post-subtitle">@WebUtility.HtmlDecode(Regex.Replace(item.Content, "<[^>]*(>|$)", string.Empty))</h3>
                            }
                            else
                            {
                                <h3 class="post-subtitle">@WebUtility.HtmlDecode(Regex.Replace(item.Content.Substring(0,80), "<[^>]*(>|$)", string.Empty))</h3>
                            }
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">@item.AuthorName</a>
                            on @item.PublicationDate.ToString("m");
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                }
            }


            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>


</div>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="~/js/modalpost.js" ></script>
}
