@using System.Text.RegularExpressions;
@using System.Net;
@using global::Blog.ViewModels;
@model List<BlogModal>

<header class="masthead" style="background-image: url('assets/img/home-bg.jpg'); height:100px">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-5 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>My Blogs</h1>
                    <span class="subheading">Every blogs that you have posted</span>
                </div>
            </div>
        </div>
    </div>
</header>
@Html.Partial("message")

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            @{
                foreach (var item in Model)
                {
                    <!-- Post preview-->
                    <div class="post-preview">

                        <div>
                            <div class="post d-flex">
                                <input id="postid" hidden class="post-id" value="@item.Id" />
                                <a href="/blog/detail/@item.Id">
                                    <h2 class="post-title">@item.Title</h2>
                                </a>
                                <a id="edit" class="btn btn-md edit-button">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a id="delete" href="/blog/delete/@item.Id" class="btn btn-md delete-button">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>

                            @if (@item.Content.Length < 30)
                            {
                                <h4 class="post-subtitle">@WebUtility.HtmlDecode(Regex.Replace(item.Content, "<[^>]*(>|$)", string.Empty))</h4>
                            }
                            else
                            {
                                <h4 class="post-subtitle">@WebUtility.HtmlDecode(Regex.Replace(item.Content.Substring(0,80), "<[^>]*(>|$)", string.Empty))</h4>
                            }

                        </div>

                        <p class="post-meta">
                            Posted by
                            <a href="#!">@item.AuthorName</a>
                            on @item.PublicationDate.ToString("m")
                        </p>

                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                }
            }
        </div>
    </div>


</div>



@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/modalpost.js"></script>
}